* {
  margin:0px;
  padding:0px;
}

#face {
  display: block;
  width: 100px;
  margin: auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}


